@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-poppins: "Poppins", sans-serif;

    --color-unleash-blue: #0034b3;
    --color-unleash-blue-light: #264eca;
    --color-unleash-yellow: #ebddae;
    --color-unleash-orange: #ff9304;
    --color-website-color: #e4ebf3;
    --color-website-green: #00ac4f;
    --color-website-light: #f8f9fe;
    --color-website-gray-400: #a9aaaf;
    --color-website-gray-300: #e5e5e7;
    --color-website-gray-200: #eeeeef;
    --color-website-gray-100: #f9f9f9;
    --color-website-gray: #6e6f78;
    --color-website-red: #f45e4e;
    --color-website-red-light: #ffbdb6;

    --animate-float-in-out: floatInOut 2.5s ease-in-out infinite;

    @keyframes floatInOut {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        20% {
            opacity: 1;
            transform: translateY(0);
        }
        90% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-20px);
        }
    }
}

input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
    transition: background-color 5000s ease-in-out 0s;
    background-color: white !important;
    box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    font-family: "Montserrat", "Poppins", "Sans";
}
